<div class="col-lg-3">
    <h3>Akun Saya</h3>
    <ul class="list-group">
        <li class="list-group-item"><a href="/pembeli/akun/informasi"> <i class="fa fa-info-circle"></i> Informasi Akun</a></li>
        <li class="list-group-item"><a href="/pembeli/orders/payment"><i class="fa fa-info-circle"></i> Pesanan Saya</a></li>
         <li class="list-group-item"><a href="/pembeli/buat/permintaan"><i class="fa fa-plus-circle"></i> Buat Permintaan</a></li>
        <li class="list-group-item"><a href="/pembeli/permintaan"><i class="fa fa-info-circle"></i> Pengajuan Saya</a></li>
        <li class="list-group-item"><a href="/admin/user/new">Kabar Berita Langganan</a></li>
        <li class="list-group-item"><a href="/admin/users">Pesan</a></li>
    </ul>
</div>