<div class="col-lg-3">
    <h2>Menu</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Products</strong></li>
        <li class="list-group-item"><a href="/penjual/product/new">New</a></li>
        <li class="list-group-item"><a href="/penjual/products">List</a></li>
        <li class="list-group-item"><strong>Orders</strong></li>
        <li class="list-group-item"><a href="/penjual/orders">List</a></li>
        <li class="list-group-item"><strong>Katalog</strong></li>
        <li class="list-group-item"><a href="/penjual/katalog/new">New</a></li>
        <li class="list-group-item"><a href="/penjual/katalog/list">List</a></li>
        <li class="list-group-item"><strong>Users</strong></li>
        <li class="list-group-item"><a href="/penjual/user/new">New</a></li>
        <li class="list-group-item"><a href="/penjual/users">Edit</a></li>
        <li class="list-group-item"><a href="/penjual/user/edit/{{session.user_id}}">My Account</a></li>
    </ul>
</div>